<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="Badminton Tracker"
        android:theme="@android:style/Theme.DeviceDefault.DayNight">

        <activity
            android:name=".PhoneMainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Receives session summaries pushed from the watch app -->
        <service
            android:name=".WearDataListenerService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data
                    android:scheme="wear"
                    android:host="*"
                    android:path="/badminton/session" />
            </intent-filter>
        </service>

    </application>
</manifest>
